<h1>Students</h1> <!-- shows a list of all the students in the database -->

<%= link_to "Home", root_path %> <redirects to home page -->

<ul>
  <% @grades.map(&:sid).uniq.each do |sid| %>
    <li>
        <a href="/grades/<%= sid %>">
            <%= sid %>
            
        </a>  
    </li>
  <% end %>
</ul>