<h1>Students</h1>

<%= link_to "Home", root_path %>

<ul>
  <% @grades.map(&:sid).uniq.each do |sid| %>
    <li>
        <a href="/grades/<%= sid %>">
            <%= sid %>
            
        </a>  
    </li>
  <% end %>
</ul>